/* კომენტარი: 
   ფერების რაოდენობა პრაქტიკულად უსასრულოა რადგან RGB მოდელში თითოეული კომპონენტი იღებს 256 განსხვავებულ მნიშვნელობას.
   შესაძლებელია დაახლოებით 16 მილიონი უნიკალური ფერის მიღება. */

/* კომენტარი:
   RGB მოდელი: Red Green Blue – სამი ძირითადი ფერის შერევით მიიღება ყველა სხვა ფერი.
   გვჭირდება: კომპიუტერული ეკრანებზე ფერების გამოსატანად.
   rgb(წითელი მწვანე ლურჯი)
*/


#red {
    color: rgb(255, 0, 0);
}

#green {
    color: rgb(0, 255, 0);
}

#blue {
    color: rgb(0, 0, 255);
}

#yellow {
    color: rgb(255, 255, 0);
}

#purple {
    color: rgb(128, 0, 128);
}

#orange {
    color: rgb(255, 165, 0);
}

#black {
    color: rgb(0, 0, 0);
}
