body {
    margin: 0;
    background: #0a0b1a;
    color: white;
    text-align: center;
  }

  h1 {
    margin: 0;
    color: gold;
  }

 

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: goldenrod;
    gap: 10px;       
    width: 600px;                       
    height: 400px;                 
    margin: auto;
}
 

  .header {
    grid-column: 1 / 4;
  }
  .footer {
    grid-column: 1 / 4;
  }