/* ფერები გამოხატულია HEX კოდებით.
   HEX კოდი იწყება '#' ნიშნით და შეიცავს 6 სიმბოლოს,
   ფორმატი: #RRGGBB — RR (წითელი), GG (მწვანე), BB (ლურჯი) */

/* წითელი  */
#red {
    color: #FF0000;
}

/* ლურჯი */
#blue {
    color: #0000FF;
}

/* მწვანე */
#green {
    color: #008000;
}

/* იისფერი  */
#purple {
    color: #800080;
}

/* შავი (#000000) */
#black {
    color: #000000;
}
