/*
კომპიუტერულ სამყაროში RGB მოდელში 256 × 256 × 256 = 16,777,216 ფერია შესაძლებელი.

ფერების გამოხატვის სისტემა, რომელიც იყენებს წითელს (Red), მწვანეს (Green) და ლურჯს (Blue), რათა შექმნას ყველა სხვა ფერი.

 მონიტორები და ეკრანები ფერებს გამოხატავენ სწორედ ამ სამფერიანი სინათლის შერევით.

 rgb(წითელი, მწვანე, ლურჯი)./*

 /* ფერების რაოდენობა ამჟამად თეორიულად უსასრულოა, რადგან შესაძლებელია RGB მოდელში 16 მილიონზე მეტი კომბინაცია */

/* RGB მოდელი: შედგება 3 ფერისგან — Red, Green, Blue.
   თითოეულ მათგანს აქვს მნიშვნელობა 0-დან 255-მდე.
   მაგ: rgb(255, 0, 0) ნიშნავს მთლიანად წითელი, სხვა ფერები 0. */

/* RGB გვჭირდება ციფრული მოწყობილობების ეკრანებზე ფერების გამოსატანად.
   იგი ფართოდ გამოიყენება ვებდიზაინში, გრაფიკულ პროგრამებში და სხვა. */

/* ფერების გაწერის მაგალითები: როგორც სახელით, ასევე RGB კოდით */

/* წითელი ფერი */
#red {
    color: rgb(255, 0, 0);
}

/* ლურჯი ფერი */
#blue {
    color: rgb(0, 0, 255);
}

/* მწვანე ფერი */
#green {
    color: rgb(0, 255, 0);
}

/* იისფერი */
#purple {
    color: rgb(132, 0, 132);
}

/* ნარინჯისფერი */
#orange {
    color: rgb(255, 166, 0);
}

/* შავი */
#black {
    color: rgb(0, 0, 0);
}
