.parent {
    width: 300px;
    height: 300px;
    background: #f0a500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }

  .child {
    width: 100px;
    height: 100px;
    background: #00a8cc;
    border-radius: 10px;
    transition: 
      background-color 2s ease-in-out
  }

  .parent:hover .child {
    transform: scale(1.5) translate(50px, 20px) rotate(45deg) skew(20deg, 10deg);
    background: #ff6f61;
    border-radius: 50%;
  }